<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bookmarks</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="bg-secondary p-3 text-white text-center">
  <h2>{{ title }}</h2>
</div>

<div class="container mt-5">
  <div class="row">
  {%- for column in url_list %}
    <div class="col-md-4">
      <table class="table table-hover">
      <thead class="table-success">
      <tr>
       <th>{{ column["title"] }}</th>
      </tr>
      </thead>
      <tbody>
      {%- for link in column["links"].keys() %}
      <tr>
        <td><a href="{{ column["links"][link] }}" target="_blank"> > {{ link }}</a> </td>
      </tr>
    {%- endfor %}
      </tbody>
      </table>
     </div>
  {%- endfor %}

  </div>
</div>

</body>
</html>
